npm install @material-ui/core
npm install @material-ui/icons
npm install @material-ui/lab
npm i --save @fortawesome/fontawesome-svg-core
npm install --save @fortawesome/free-solid-svg-icons
npm install --save @fortawesome/react-fontawesome
npm install react-bootstrap@next bootstrap@5.1.0
