body{
    background-color: whitesmoke;
}

.heading{
    background-color: rgb(238, 172, 172);
}

.title{
    margin-top: 10px;
    text-align: center; 
    margin-bottom: 10px;   
}

.detail{
    display:flex;
    justify-content:space-around;
    border-bottom: 1px solid white;
}
.comment-title{
    padding-top: 15px;
    margin-left:15px;
}

.tree-comments{
    margin:15px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
    border-radius: 15px;
}

.no-comment{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
